<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.agetac"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="11" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
        <activity
            android:label="@string/app_name"
            android:name=".MainActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="TabsActivity" />
        <activity android:name=".tabs.SITACActivity" />
        <activity android:name=".tabs.SOEICActivity" />
        <activity android:name=".tabs.MoyensActivity" />
        <activity android:name=".tabs.MessagesActivity" />
        <activity android:name=".tabs.CRMActivity" />
    </application>

</manifest>